-printseeds

-dontpreverify
-dontskipnonpubliclibraryclasses

-dontusemixedcaseclassnames

-allowaccessmodification

-keepattributes *Annotation*,InnerClasses

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-keep public class * extends android.os.IInterface

-libraryjars /libs/FlurryAgent.jar

-dontwarn com.flurry.android
-dontwarn **CompatHoneycomb
-dontwarn **CompatHoneycombMR2
-dontwarn **CompatCreatorHoneycombMR2

-dontwarn **Logger
-dontwarn javax.servlet.ServletContextListener
-dontwarn javax.servlet.ServletContextEvent

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-keep class **.R$* {   
*;   
}
-dontwarn com.igexin.**
-dontwarn sdk.**
-keep class com.igexin.** { *; }
-keep class sdk.** { *; }

-keep class com.tencent.mm.sdk.openapi.WXMediaMessage {*;}

-keep class com.tencent.mm.sdk.openapi.** implements com.tencent.mm.sdk.openapi.WXMediaMessage$IMediaObject {*;}

-keep class com.mmi.cssdk.main.**{*;}
-dontwarn com.mmi.cssdk.main.**

-libraryjars /libs/android-support-v4.jar
-dontwarn android.support.v4.**
-keep class android.support.v4.** { *; }
-keep public class * extends android.support.v4.**
-keep public class * extends android.app.Fragment

-dontwarn android.net.http.SslError

-keep class com.tendcloud.tenddata.** { *;}
-dontwarn com.tendcloud.tenddata.**

-keep public class com.unionpay.upomp.lthj.** { *;}
-dontwarn com.unionpay.upomp.lthj.**

#web的js调用客户端代码不能混淆，客户端代码放在MyJavaScrip及其子类中
-keep class com.haozan.wo.caipiao.util.MyJavaScript { *; }
-keep class * extends com.haozan.wo.caipiao.util.MyJavaScript { *;}